.promo {
  text-align: center;
  background-image: url(/images/promo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .lead-fade {
    padding: 200px 0 214px;
    background-color: rgba(0, 0, 0, .4);

    @media (max-width: $tablet-max) {
      padding: 180px 0 190px;
    }

    @media (max-width: $mobile-max) {
      padding: 110px 0 100px;
    }
  }

}

.promo-inner {
  @include inner;
}


.promo-title {
  margin-bottom: 100px;
  font-family: $font;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  color: $color-light;

  @media (max-width: $tablet-max) {
    font-size: 54px;
    line-height: 74px;
  }

  @media (max-width: $mobile-max) {
    font-size: 32px;
    line-height: 44px;
  }


}
